  header#page-header{
    font-family: Georgia, "Times New Roman", serif; 
    font-style: italic; font-weight: bold;
}
  header#page-header h1{
    font-size: 3em; font-weight: bold; font-style: italic;

}
  header#page-header h2{
    font-size: 1.5em; font-weight: lighter; font-style: italic;
}
  header#page-title{
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.8; font-weight: bold;
}
  h3{
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.5em; font-weight: lighter;
}
  p{
    font-family: Verdana, Helvetica, Arial, sans serif; font-size: 1em; font-weight: normal;
}
 
